@import "tailwindcss";

@theme {
  --color-luxuryGold: #C19343;
  --color-luxuryDark: #121212;
  --color-luxuryBg: #FDFBF7;
  
  --font-sans: 'Plus Jakarta Sans', 'Inter', sans-serif;
  --font-serif: 'Playfair Display', 'Georgia', serif;
}

@utility scroll-bar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}